<div class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
	<div class="content">
		{% if fields.texto %}
			<div class="richtext">
				{{ fields.texto }}
			</div>
		{% endif %}

		{% if fields.cta %}
			<a class="cta_button mt-5" href="{{ fields.cta.url }}">{{ fields.cta.title }}</a>
		{% endif %}
	</div>
</div>

<div class="col-lg-6 offset-lg-1 mb-4">
	{% if fields.imagem %}
		<img class="img-fluid" src="{{ get_image(fields.imagem).src }}" alt="{{ get_image(fields.imagem).alt }}"/>
	{% endif %}
</div>
