{% extends "base.twig" %}

{% block content %}
	{# {% include "/components/blog/blog-intro.twig" %} #}

	<article class="post-type-{{ post.post_type }} block-spacer" id="post-{{ post.ID }}">
		<div class="container-fluid">
			<div class="row my-4">
				<div class="col-lg-10 offset-lg-1">
					<a class="cta_button" href="{{site.url}}/blog">
						Voltar para o Blog
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<section class="blog__content">
						{% if post.sub_titulo %}
							<h5 class="mb-5">
								{{post.sub_titulo}}
							</h5>
						{% endif %}

						{% if post.title %}
							<h1 class="article-h1">
								{{ post.title }}
							</h1>
						{% endif %}

						{% if post.thumbnail %}
							<img class="img-fluid w-100 my-4" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
						{% endif %}
					</section>

				</div>
			</div>
		</div>

		<div>
			{{post.content}}
		</div>
	</article>
	<!-- /content-wrapper -->
{% endblock %}
