{% extends 'base.twig' %}

{% block content %}
	{% include '/components/store/store-intro.twig' %}
	{% do action('woocommerce_before_single_product') %}

	<article
		itemscope
		itemtype="http://schema.org/Product"
		class="single-product-details {{ post.class }} container my-5">
		<div
			class="row my-4">
			<div
				class="col-lg-10">
				<a
					class="cta_button"
					href="{{ site.url }}/loja">
					Voltar para a Loja
				</a>
			</div>
		</div>

		<div
			class="row">
			<div
				class="entry-images col-lg-6">
				{% if (post._product_image_gallery|split(',')|length) > 1 %}
					<div
						id="product-carousel"
						class="carousel slide">
						<div
							class="carousel-indicators">
							{% for img in post._product_image_gallery|split(',') %}
								{% if loop.first %}
									<button
										type="button"
										data-bs-target="#product-carousel"
										data-bs-slide-to="0"
										class="active"
										aria-current="true"
										aria-label="Slide 1"></button>
								{% else %}
									<button
										type="button"
										data-bs-target="#product-carousel"
										data-bs-slide-to="{{ loop.index0 }}" aria-label="Slide {{ loop.index }}"></button>
								{% endif %}
							{% endfor %}
						</div>

						<div
							class="carousel-inner">
							{% for img in post._product_image_gallery|split(',') %}
								{% if loop.first %}
									<div
										class="carousel-item active">
										{{ fn('wp_get_attachment_image', img, 'full') }}
									</div>
								{% else %}
									<div
										class="carousel-item">
										{{ fn('wp_get_attachment_image', img, 'full') }}
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<button
							class="carousel-control-prev"
							type="button"
							data-bs-target="#product-carousel"
							data-bs-slide="prev">
							<span
								class="carousel-control-prev-icon bg-dark rounded-circle"
								style="background-size: 80% 100%"
								aria-hidden="true"></span>
							<i
								classname="icon bi-envelope"></i>
							<span
								class="visually-hidden">
								Previous
							</span>
						</button>
						<button
							class="carousel-control-next"
							type="button"
							data-bs-target="#product-carousel"
							data-bs-slide="next">
							<span
								class="carousel-control-next-icon bg-dark rounded-circle"
								style="background-size: 80% 100%"
								aria-hidden="true"></span>
							<span
								class="visually-hidden">
								Next
							</span>
						</button>
					</div>
				{% else %}
					<img
						class="single-product__thumb"
						src="{{ post.thumbnail.src('shop_single') }}"/>
				{% endif %}
			</div>

			<div
				class="content col-lg-5 offset-lg-1">
				<h1
					class="single-product__title">
					{{ post.title }}
				</h1>
				<p
					class="single-product__excerpt">
					{{ post.post_excerpt }}
				</p>
				<p
					class="single-product__price">
					R$
					{{
            post._regular_price|replace({ '.': ',' })
          }}
				</p>
				<p
					class="single-product__content">
					{{ post.content }}
				</p>

				<div
					class="summary entry-summary">
					{% do action('woocommerce_single_product_summary') %}
				</div>
			</div>
		</div>
	</article>

	{# {% include ["views/woo/tease-product.twig"] with { products: related_products } %} #}

	{% do action('woocommerce_after_single_product') %}
{% endblock %}
